name: CI-Build

on:
  push:
  schedule:
    - cron:  '21 21 * * *'
  workflow_dispatch:

jobs:
  build:
    permissions:
      checks: write
      pull-requests: write
      contents: read
    uses: axonivy-market/github-workflows/.github/workflows/ci.yml@feature/MARP-3334-disable-README_DE-file
