name: Disable README_DE.md

on:
  pull_request:

jobs:
  build:
    uses: axonivy-market/github-workflows/.github/workflows/ci.yml@feature/MARP-3334-Maintenance-texts-open-source-translated-with-Weblate
